<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.nhtv.gamelab"
        version   = "2.2.0">
    <name>test app</name>

    <description>
        test app sample application that responds to the deviceready event.
    </description>


    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
</widget>